@charset "utf-8";
@import url('../fonts/typicons/typicons.css');
/*html{background-color: #333355;}*/
html{background-color: #555;}
body{color:#454545;font:normal normal normal 14px/1.5 arial,"微软雅黑", "Microsoft YaHei", "宋体",Simsun,sans-serif;}
/*body{background-color: #666;}*/
body{background-color: #a3a2ae;}
body{min-width: 960px;}

#container{margin:0 auto;}
.footer{padding:1em 1em 2em;color: #888;}
.header{}
.content{margin: 0 1em;}
.footer{}
.header{}
.header{padding: 0 10px;margin-bottom: 1em;}
/*.content{padding: 1em 3em 3em;}*/
/*.content{padding: 0.5em;}*/
.widget,.mod{
	border-radius: 0.5em;
}
.widget-hd,.mod-hd{
	/*border-radius: 0.5em;*/
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
}
.mod .mod-hd .mod-tit{font-size: 1.4em;}

/*=form=*/
.form{padding: 1em 4em 4em;}
.form input.text,
.form input.password,
.form textarea{border:1px solid;border-color:#aaa;background:#fff;}
.form input.password:focus,
.form input.text:focus,
.form textarea:focus{outline:2px solid #ffdc97;border-color:#efa100;}
.form input.text,
.form input.password{width:300px;padding:12px 5px;line-height:1;}
.form textarea{width:300px;padding:3px 5px;overflow:hidden;resize:vertical;}
.form input.text.disabled{cursor:default;color:#ccc;border:1px solid #eee;background:#F4F4F4;}
.form input.text.disabled:focus{outline:0 none;border-color:#ddd;}
.form input.text,
.form input.password,
.form textarea{
	color:#999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:1px 1px 1px rgba(50,50,50,0.2);/*firefox*/
	-webkit-box-shadow:1px 1px 1px rgba(50,50,50,0.2);/*webkit*/
	box-shadow:1px 1px 1px rgba(50,50,50,0.2);/*opera或ie9*/
}
.form dl{margin-bottom:5px;}
.form label{margin-right:5px;vertical-align:0;}
.form .fieldset{}
.form legend {padding-top:1em;padding-bottom:1em;margin-bottom:2em;}
.form .logMsg {
	color: #c66;
}
/*.form input.datepicker {width: 200px;}*/
/*.form input.timepicker {width: 80px;}*/
.form input.datepicker{
	/*background-color: #eee;*/
	content:'\e122';
	font-family: 'typicons';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	/*width: 1em;
	height: 1em;
	font-size: 1em;*/
	/*text-align: center;*/
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	/*border:1px solid #333;*/
}


/* text&btn */
a{color:#333;}
a:hover{text-decoration:none;color:#fff;background-color: #666;}
a:active{color:#999;background-color: #333;}
.btn{
	padding: 0.5em 0.8em;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	border: 0;
	cursor: pointer;
	background: #2455c3;
	border-radius: 12px;
	text-transform: none;
	display: inline-block;
	/*text-transform: uppercase;*/
	border-radius: 0.5em;
	-webkit-transition: background .15s ease-in;
	-moz-transition: background .15s ease-in;
	-o-transition: background .15s ease-in;
	-ms-transition: background .15s ease-in;
	transition: background .15s ease-in;
}
.btn:hover{
	text-decoration: none;
	color: #333;
	background: #c3c2be;
	-webkit-transition: background .15s ease-out;
	-moz-transition: background .15s ease-out;
	-o-transition: background .15s ease-out;
	-ms-transition: background .15s ease-out;
	transition: background .15s ease-out;
}
.btn:active{
	color: #333;
	background: #a3a2ae;
	border-color: #aaa #c3c3c3 #c3c3c3 #aaa;
	-webkit-transition: background .15s ease-out;
	-moz-transition: background .15s ease-out;
	-o-transition: background .15s ease-out;
	-ms-transition: background .15s ease-out;
	transition: background .15s ease-out;
	background-image:-webkit-linear-gradient(to top, #c3c2be, #a3a2ae);
	background-image:linear-gradient(to top,#c3c2be,#a3a2ae);
}
/*.btn_submit{}
.btn_return{}*/
.btn_link{color: #333;background: none;}
/*.btn_link:hover{color: #333;}*/
.btn_link:active{}
.btn_delete:before{
	/*content:'\e122';
	font-family: 'typicons';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	height: 1em;
	font-size: 1em;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	border:1px solid #333;*/
}
.btn span{display: none;}



/*popdialog*/
.widget{background-color: #fff;}
.widget .widget-tit{font-size: 2em;}
.widget .widget-hd{background-color: #eee;}
.widget .widget-hd{padding: 0.5em;}
.widget .widget-bd{}
.mask{
	display: none;
	position: fixed;top:0;bottom: 0;
	right: 0;left: 0;
	background-color: rgba(0,0,0,0.45);
}
.popDialog{
	display: none;
	width: 60%;
	position: absolute;
	top: 30px;
	left: 50%;
	z-index: 10;
	margin-left:-30%;
	min-height: 100px;
	border: 0 none;
	box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
}
.popDialog .mod{background:none;}
.popDialog .mod-hd{background:none;}
.popDialog .close .typcn:before{width: 40px;height: 40px;line-height: 40px;}
.popDialog .close{
	position: absolute;
	top: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	font-size: 32px;
	line-height: 40px;
	border-radius: 1em;
	color: #fff;
	text-align: center;
	background-color: #333;
	-webkit-transition: background .15s ease-in;
	-moz-transition: background .15s ease-in;
	-o-transition: background .15s ease-in;
	-ms-transition: background .15s ease-in;
	transition: background .15s ease-in;
}
.popDialog .close:hover{
	color: #fff;
	background-color: #a3a2ae;
	-webkit-transition: background .15s ease-out;
	-moz-transition: background .15s ease-out;
	-o-transition: background .15s ease-out;
	-ms-transition: background .15s ease-out;
	transition: background .15s ease-out;
}
.popDialog .close:active{
	color: #fff;
	background: #a3a2ae;
	border-color: #aaa #c3c3c3 #c3c3c3 #aaa;
	-webkit-transition: background .15s ease-out;
	-moz-transition: background .15s ease-out;
	-o-transition: background .15s ease-out;
	-ms-transition: background .15s ease-out;
	transition: background .15s ease-out;
	background-image:-webkit-linear-gradient(to top,#c3c2be, #333);
	background-image:linear-gradient(to top, #c3c2be, #333);
}

.popDialog .close span{display: none;}
.popDialog .btn{
	/*padding: 10px;*/
	font-size: 18px;
}
/*.popDialog .mod-hd{background: none;border-bottom: 1px solid #ccc;}*/
.popDialog .dates{color: #aaa;}
.popDialog .mod-hd{
	padding-bottom: 0.5em;
}
.popDialog .form{
	/*text-align: center;*/
	margin-left: -5px;
}
.popDialog .form dt{
	/*text-align: left;*/
	/*display: none;*/
}
.popDialog .form input.text,
.popDialog .form input.password,
.popDialog .form textarea{
	width: 100%;
}
.popDialog .ctrlOptions form{
	display: inline;
}
.popDialog .ctrlOptions{
	/*text-align: right;*/
	/*text-align: center;*/
}



/*日历视图*/
.calendar{
	/*margin: 0 1em 1em;*/
	/*border: 0;*/
	/*border-radius: 15px;*/
}
.calendar .mod-bd{
	padding: 3em;
}
.calendar ul:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.calendar ul{display:block;*zoom:1;}
.calendar li{
	float: left;overflow: hidden;
	width: 13%;height: 80px;
	padding: 5px;margin:-1px 0 0 -1px;font-size: 14px;
	border: 1px solid #f2f2f2;background-color: #fff;
}
.calendar li a.event-tit{display: block;padding:0.2em;}
.calendar li strong{float: left;margin-right: 1em;}
.calendar li a.event-tit{
	float: left;
	margin: 0 1em 0.2em 0;
	border-radius: 3px;
	/*box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
	background-color: #fff;*/
}
.calendar li .event-tit{color:#666;}
.calendar li .event-tit:hover{color:#111;background:#eee;}
.calendar li .event-tit:active{color:#111;background:#aaa;}
.calendar li .event-tit.actived{color:#111;background:#888;}
.calendar li.today{
	background-color: #fffff6;
}
.calendar li a{font-size: 12px;line-height: 1.2;}
.calendar li a:hover{color: #333;}
.calendar li a:active{color: #111;background:#565656;}

.calendar .weekdays{clear: both;}
.calendar .weekdays li{height: 20px;background-color: #f9f9f9;}
.calendar .weekdays li{text-align: center;}
.calendar .fill{background-color: #f9f9f9;}
.calendar .ctrlOptions{padding: 0;}

/*查看事件*/
.event_view{padding: 30px;}
.event_view h2{}
.event_view .dates{font-size: 12px;margin-bottom: 1em;color: #bbb;}

/*操作按钮组*/
.ctrlOptions{
	/*position: absolute;
	top: 0;
	right: 0;*/
	padding: 10px 0;
	/*border: 1px solid #333;*/
}

#btn-addEvent,
#btn-userLogout,
#btn-userLogin{
	position: absolute;
	top: 12px;
	right: 10px;
}
#btn-userLogout{}
#btn-addEvent{right: 70px;}











